{% if site.addthis %}
<!-- Addthis -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis }}"></script>
<script type="text/javascript">

var addthis_share = addthis_share || {}
addthis_share = {
  passthrough : {
    twitter: {
      via: "ben__day"
    }
  },
  url_transforms : {
    shorten: {
      twitter: 'bitly'
    }
  },
  shorteners : {
    bitly : {}
  }
}

var addthis_config = addthis_config||{};
addthis_config.data_track_addressbar = false;
addthis_config.data_track_clickback = false;

</script>
<!-- End Addthis -->
{% endif %}
