<div id="subscriber-panel" class="subscriber subscriber-big">

{% if include.form-image %}
	<div class="grid-x grid-padding-x">
		<div class="class="medium-8 medium-offset-2 small-6 small-offset-3 cell"">
			<div>
					<img src="{{ include.form-image }}" />
			</div>
		</div>
	</div>
	{% endif %}

	<div class="grid-x grid-padding-x">
		<div class="medium-12 medium-offset-0 small-10 small-offset-1 cell">
			<h1 class="text-center">{{ include.form-title }}</h1>
		</div>
	</div>

	<div class="grid-x grid-padding-x">
		<div class="medium-12 medium-offset-0 small-10 small-offset-1 cell">
			<p class="text-center">{{ include.form-subtitle }}</p>
		</div>
	</div>

	<form id="subscribe-form" data-abide novalidate>

		<div class="grid-x grid-padding-x">
			<div class="medium-12 medium-offset-0 small-10 small-offset-1 cell">
				<label>
        <input name="name" type="text" placeholder="First name..." required pattern="alpha">
				<span class="form-error">
					A first name would be great
				</span>
			</label>
			</div>
		</div>

		<div class="grid-x grid-padding-x">
			<div class="medium-12 medium-offset-0 small-10 small-offset-1 cell">
				<label>
        <input name="email" type="text" placeholder="Email..." required pattern="email">
			  <span class="form-error">
					We're going to need a valid email
			  </span>
			</label>
			</div>
		</div>

		<div class="grid-x grid-padding-x">
			<div class="medium-12 medium-offset-0 small-10 small-offset-1 cell">
				<input type="hidden" name="campaign_token" value="{{ include.campaign_token }}" />
				<input class="button expanded" type="submit" value="{{ include.form-submit-label }}" />
			</div>
		</div>

		<div class="grid-x grid-padding-x">
			<div class="medium-12 medium-offset-0 small-10 small-offset-1 cell">
				<span id="message" />
			</div>
		</div>
	</form>
</div>

<script>
	let $form = $('#subscribe-form');

	$(document).on("submit", function(ev) {
		ev.preventDefault();

		replaceMessage("");

		let serializedForm = $form.serialize()
		$("#subscribe-form :input").prop("disabled", true);

		$.ajax({
		  type: 'POST',
		  url: 'https://zzx03gva3c.execute-api.eu-west-2.amazonaws.com/dev/subscribe',
		  crossDomain: true,
		  data: serializedForm,
		  dataType: 'json',
		  headers: {
		    'x-api-key': 'XuQ17JzFBY9GRJq7DiFqr4IETKDPDaD1HvHIByy8'
		  },
		  success: function(responseData, textStatus, jqXHR) {
		    if (responseData.code === 0) {

		      fbq('track', 'Lead');

					$('#subscriber-panel').html(`{% include thanks_nationalfamily.html
						title="Thanks for subscribing"
						message="Check your mail for the glossay that we've just sent you.
						This is a great first step towards better protecting your family in case of your death" %}`);

						let crid = getURLParameter('crid');
						let $ctaVis = $('#cta-visual');

						if(crid === '103119'){
							$ctaVis.append('<img src=\"/images/Banner_103119.gif\" />');
						} else if(crid === '103120'){
							$ctaVis.append('<img src=\"/images/Banner_103120.gif\" />');
						} else {
							$ctaVis.append('<h3>Find Affordable Life Insurance Now!</h3>');
						}

		    }
		  },
		  error: function(responseData, textStatus, errorThrown) {
		    if (responseData.responseJSON.code === 1008) {
		      $("#subscribe-form :input").prop("disabled", true);
		      replaceMessage("Hey looks like you're already subscribed, awesome");
		    } else {
		      $("#subscribe-form :input").prop("disabled", false);
		      replaceMessage("Hmm, something's not quite right, maybe try it again");
		    }
		  }
		});
	}).on("forminvalid.zf.abide", function(ev, frm) {
		replaceMessage("");
	});

	function replaceMessage(message) {
		$('#message').replaceWith("<div id=\"message\">" + message + "</div>");
	}
</script>
