<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <a href="{{ site.baseurl }}/">
          <div class="title-bar-title">
            <img src="/images/IEG logo.png" alt="" class="logo" />
            <span>{{ site.name}}</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <a href="{{ site.baseurl }}/">Blog</a>
    </ul>
  </div>
</div>
