<div class="grid-x grid-padding-x">
	<div class="medium-12 medium-offset-0 small-10 small-offset-1 cell">
		<h1 class="text-center">{{ include.title}}</h1>
	</div>
</div>

<div class="grid-x grid-padding-x">
	<div class="medium-12 medium-offset-0 small-10 small-offset-1 cell">
		<p class="text-center">{{ include.message}}</p>
	</div>
</div>

<div class="grid-x grid-padding-x">
	<div class="medium-12 medium-offset-0 small-10 small-offset-1 cell">
		<hr />
		<h1 class="text-center">Protect Your Family Now!</p>
	</div>
</div>

<div class="grid-x grid-padding-x">
	<div class="medium-12 medium-offset-0 small-10 small-offset-1 cell">
		<p class="text-center">Want to take the next step? Check out our favourite Life Insurance broker. Answer five simple questions and get access to the best prices on the market.</p>
		<p class="text-center">Need to speak to a real person, simply pick up the phone and call one of their expert agents.</p>
	</div>
</div>

<div class="grid-x grid-padding-x">
	<div class="medium-12 medium-offset-0 small-10 small-offset-1 cell text-center">
		<a href="http://track.bcw-offers.com/click" target="_blank">
			<h2 class="click-cta">Act Now!</h2>
			<div id="cta-visual"></div>
		</a>
	</div>
</div>
<br />
