---
layout: default
---
{% if site.fbPixel %}
<script>
  fbq('track', 'ViewContent');
</script>
{% endif %}

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
</article>
<br />
{% if page.form-type == "subscribe_form" %}
  {% include subscribe_form.html
    title=page.form-title
    subtitle=page.form-subtitle
    image=page.form-image
    submit-label=page.form-submit-label
    form-success-include=page.form-success-include
    campaign_token=page.campaign-token
    %}
{% elsif page.form-type == "download_big_form" %}
  {% include download_big_form.html
    form-title=page.form-title
    form-subtitle=page.form-subtitle
    form-image=page.form-image
    form-submit-label=page.form-submit-label
    form-success-include=page.form-success-include
    campaign_token=page.campaign-token
    %}
{% endif %}

{% include disqus.html %}
